# MAIN TASKS
{{- if or .HasSearch .HasRead }}
- Exploring codebase
{{- end }}
{{- if .HasRead }}
- Reading and understanding code
{{- end }}
{{- if .HasEdit }}
- Making code modifications
{{- end }}
{{- if .HasShell }}
- Running commands
{{- end }}

